.ql-editor table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.ql-editor table td {
    border: 1px solid black;
    padding: 5px;
    height: 25px;
}

/* .ql-formats button.ql-table::after, */
.ql-picker.ql-table .ql-picker-label::before {
    display: block;
    font-size: 14px;
}

.ql-picker.ql-table .ql-picker-label::before {
    content: "Таблицы";
    padding-top: 2px;
    line-height: 1em;
}

.ql-picker-item[data-value="append-col"]::after {
    content: "добавить столбец";
}

.ql-picker-item[data-value="remove-col"]::after {
    content: "убрать столбец"
}

.ql-picker-item[data-value="append-row"]::after {
    content: "добавить строку";
}

.ql-picker-item[data-value="remove-row"]::after {
    content: "убрать строку"
}

.ql-table,
.ql-contain {
    width: 90px;
    margin-right: 0;
}

.ql-picker.ql-table {
    font-size: 11px;
    font-weight: normal;
}

.ql-picker.ql-table .ql-picker-label {
    padding: 2px 3px;
}

.ql-picker.ql-table .ql-picker-options {
    width: 115px;
}

.ql-picker.ql-table .ql-picker-item {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0px;
    margin: 1px;
}

.ql-picker.ql-row_col {
    display: flex;
    width: 145px;
}

.ql-picker.ql-row_col .ql-picker-label::before {
    content: "Строки/столбцы";
}

.ql-picker.ql-row_col {
    color: #444;
}

.ql-picker.ql-table .ql-picker-item {
    border: 1px solid #444;
    color: #444;
}

.ql-row_col .ql-picker-label.ql-active {
    color: #444!important;
}

.ql-toolbar .ql-picker-item.ql-selected:before, .ql-picker.ql-row_col .ql-picker-item {
    color: #444;
}

.ql-picker-label.ql-active .ql-stroke {
    stroke: #444!important;
}

.ql-picker-item[data-value="remove-table"] {
    border: none!important;
    width: 100%;
}
.ql-picker-item[data-value="remove-table"]:before {
    content: "Удалить таблицу";
    width: auto;
    display: block;
    font-size: 12px;    
}


.ql-picker-item[data-value=newtable_1_1]:before {
    content: "1x1";
}

.ql-picker-item[data-value=newtable_1_2]:before {
    content: "1x2";
}

.ql-picker-item[data-value=newtable_1_3]:before {
    content: "1x3";
}

.ql-picker-item[data-value=newtable_1_4]:before {
    content: "1x4";
}

.ql-picker-item[data-value=newtable_2_2]:before {
    content: "2x2";
}

.ql-picker-item[data-value=newtable_2_3]:before {
    content: "2x3";
}

.ql-picker-item[data-value=newtable_3_3]:before {
    content: "3x3";
}